extends ../node_modules/pug-bootstrap/_bootstrap


append styles
	link(rel="stylesheet", href='../css/bootstrap-datepicker3.min.css')
	link(rel="stylesheet", href='https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css')
	//link(rel="stylesheet", href='https://code.highcharts.com/css/highcharts.css')
	//link(rel="stylesheet", href='https://code.highcharts.com/dashboards/css/dashboards.css')
	link(rel="stylesheet", href='../css/styles2.css')

append scripts
	script(src='https://code.jquery.com/jquery-1.11.3.min.js')
	script(src='https://code.jquery.com/ui/1.11.3/jquery-ui.min.js')
	script(src='../js/bootstrap-datepicker.min.js')
	script(src='../locales/bootstrap-datepicker.fr.min.js')
	script(src="https://code.highcharts.com/dashboards/dashboards.js")
	//script(src="https://code.highcharts.com/highcharts.js")
	//script(src="https://code.highcharts.com/dashboards/modules/dashboards-plugin.js")

	
	
	script.
		$(function () {
			$('#date').each(function (index, dateElem) {
				var $dateElem = $(dateElem);
				//return JSON.stringify(dateElem);
				var formatted = moment(dateElem, "YYYY-MM-DD HH:mm:ss").format('YYYY-MM-DD');
				//dateElem.text(formatted);
			})
		});


append body
	
	.container
		img(src="../images/bannierenoirenetwork.png", alt="Header Image", class="img-fluid")
		include navbar.pug
		.col-md-12
			h4 Mes ruchiers
			.table-responsive
				table.table(class=type)
					thead
						tr
							th #
							th Ruches
							th Poids
							th Tendances
							th Protection
							th Alertes
							th Frelons 
							th Actions
							
						
					tbody
						
						//each intervention in interventions
							tr
								td 
									if intervention.type == 'outtage'
										img(src="../images/incident.png",height="20", width="22", alt="outtage")
									else
										img(src="../images/sheduled.png",height="22", width="24", alt="scheduled") 

								td(id="datedqsd")
									= intervention.date
								td
									= intervention.title


		
			
	include footer.pug