extends ../node_modules/pug-bootstrap/_bootstrap

append body
  .container
    include navbar.pug
    .col-md-4
      h4 Modification mot de passe de #{login}
      form(action="/updatepassword" method="post" class="well")
        label(for="password")
          | Nouveau mot de passe
        input(type='password' name='password' class='form-control' id='password' placeholder='Entrez le nouveau mot de passe' pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[\W_]).{6,}" title="Doit contenir au moins un chiffre, une lettre, un caractère spécial et au moins 6 caractères" required)
        small(style="color: #6c757d;")
          | Doit contenir au moins un chiffre, une lettre, un caractère spécial et au moins 6 caractères.
        
        div(id="password-strength-container")
          div(id="password-strength-text", style="color: green;")
          progress(id="password-strength-bar", max="100", value="0")
        
        label(for='confirm-password')
          | Confirmez le mot de passe
        input(type='password' name='confirm-password' class='form-control' id='confirm-password' placeholder='Confirmez le mot de passe' required)

        script.
          document.getElementById('password').addEventListener('input', function () {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirm-password').value;
            var match = (password === confirmPassword);

            if (match) {
              document.getElementById('confirm-password').setCustomValidity('');
            } else {
              document.getElementById('confirm-password').setCustomValidity('Les mots de passe ne correspondent pas');
            }

            // Password strength calculation
            var strength = 0;
            if (password.match(/[a-zA-Z]/)) {
              strength += 1;
            }
            if (password.match(/\d+/)) {
              strength += 1;
            }
            if (password.match(/[\W_]/)) {
              strength += 1;
            }
            if (password.length >= 6) {
              strength += 1;
            }

            // Update strength bar and text
            var strengthBar = document.getElementById('password-strength-bar');
            var strengthText = document.getElementById('password-strength-text');
            strengthBar.value = strength * 25; // Each condition contributes 25 to the total score
            strengthText.textContent = 'Force du mot de passe: ' + (strength * 25) + '%';

            // Change text color based on strength
            if (strength >= 3) {
              strengthText.style.color = 'green';
            } else {
              strengthText.style.color = 'red';
            }
          });

        br
        input(type="submit" class="btn btn-xs btn-success")
